// bower:scss
// endbower

@import url(https://fonts.googleapis.com/css?family=Kaushan+Script);

html, body {
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

#main {
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
}

#authentication, #content {
  background: url('../assets/images/background.jpg') repeat 0 0;
}

.text-center {
  text-align: center !important;
}

.text-right {
  text-align: right !important;
}

.logo {
  font-family: 'Kaushan Script', cursive;
  font-weight: 900 !important;
  font-size: 1.4em !important;
}

.padding-20 {
  padding: 20px !important;
}

.padding-15 {
  padding: 15px !important;
}

.padding-10 {
  padding: 10px !important;
}

.padding-5 {
  padding: 5px !important;
}

.padding-0 {
  padding: 0 !important;
}

.margin-20 {
  margin: 20px !important;
}

.margin-15 {
  margin: 15px !important;
}

.margin-10 {
  margin: 10px !important;
}

.margin-5 {
  margin: 5px !important;
}

.margin-0 {
  margin: 0 !important;
}

.line-height-normal {
  line-height: normal;
}

.full-width {
  width: 100%;
  max-width: 100%;
}

.container {
  box-sizing: border-box;
  margin-right: auto;
  margin-left: auto;
  width: 100%;

  &:before, &:after {
    content: " ";
    display: table;
  }

  &:after {
    clear: both;
  }

  @media (min-width: 768px) {
    width: 750px;
  }

  @media (min-width: 992px) {
    width: 970px;
  }

  @media (min-width: 1220px) {
    width: 1170px;
  }
}

md-list {
  padding: 0 !important;
}

md-icon {
  font-size: 20px !important;
}

md-input-container {
  margin: 10px 0 0;
}

md-dialog {
  min-width: 300px;
  max-width: 800px;
}

md-select {
  margin-bottom: 15px !important;
}

.label {
  padding-left: 3px;
  margin: 5px 0;
  color: rgba(0,0,0,0.54);
  transform: translate3d(0, 6px, 0) scale(0.75);
  transform-origin: left top;
}

.empty {
  font-size: 1.5em;
  font-weight: 300;
  color: #999;
}

.errors {
  font-size: 12px;
  color: #dd2c00;
  margin-top: 10px;
}

.widget {
  animation: zoomIn 1s;
  background-color: #ffffff;

  .widget-header {
    border-bottom: 1px solid #eee;
    height: 50px;

    .md-subhead {
      padding: 12px;
      font-weight: 500;
      margin: 0;
    }
  }

  .widget-content {
    min-height: 300px;
    box-sizing: border-box;
    position: relative;
    overflow-x: hidden;
    height: 500px;

    &.full-height {
      height: calc(100vh - 146px) !important;
    }
  }
}

@mixin aspect-ratio($width, $height) {
  position: relative;
  &:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: ($height / $width) * 100%;
  }
  > .content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

@keyframes bounceSmall {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-10px);
  }
  60% {
    transform: translateY(-5px);
  }
}

.drop-box {
  background: #F8F8F8;
  border: 5px dashed #DDD;
  height: 80px;
  width: 100%;
  text-align: center;
  padding: 10px;
  margin: 10px 0;
  cursor: pointer;
  box-sizing: border-box;

  &.dragover {
    border: 5px dashed blue;
  }
}

.animate-wrapper {
  position: relative;
  > .ng-enter, > .ng-leave {
   position: absolute;
   width: 100%;
   height: 100%;
  }
}

// injector
// endinjector
