<md-content class="full-width" flex ng-if="activity.selected">
  <md-card class="padding-10">
    <div class="header" layout="row" layout-align="start center">
      <h3 flex class="md-subhead" ng-if="!activity.selected.started">Setup Activity</h3>
      <h3 flex class="md-subhead" ng-if="activity.selected.started && !activity.selected.ended">Activity Live Stream</h3>
      <h3 flex class="md-subhead" ng-if="activity.selected.ended">View Activity</h3>
      <md-button aria-label="Close" class="md-icon-button" ng-click="activity.unselect()">
        <md-tooltip>Close</md-tooltip>
        <md-icon md-font-icon="zmdi zmdi-close"></md-icon>
      </md-button>
    </div>
    <form name="activityForm" ng-if="!activity.selected.started" ng-submit="activity.save()">
      <div layout="column">
        <md-input-container class="full-width">
          <label>Product</label>
          <md-select name="productId" ng-model="activity.selected.productId" required>
            <md-option ng-repeat="product in activity.products" value="{{ product.id }}">{{ product.name }}</md-option>
          </md-select>
        </md-input-container>
        <md-input-container class="full-width">
          <label>Survey</label>
          <md-select name="surveyId" ng-model="activity.selected.surveyId" required>
            <md-option ng-repeat="survey in activity.surveys" value="{{ survey.id }}">{{ survey.name }}</md-option>
          </md-select>
        </md-input-container>
        <div class="text-right">
          <md-button type="submit" class="md-primary" ng-disabled="activityForm.$invalid">
            Save
          </md-button>
        </div>
      </div>
    </form>
  </md-card>
</md-content>
