<ul class="week">
  <li class="prev" layout="row" layout-align="center center">
    <md-button aria-label="Previous week" class="md-icon-button md-primary" ng-disabled="cal.isCurrentWeek()" ng-click="cal.previousWeek()">
      <md-icon md-font-icon="zmdi zmdi-arrow-left"></md-icon>
    </md-button>
  </li>
  <li class="date" ng-repeat="day in cal.week">
    <span ng-class="{'weekend': cal.isWeekend(day)}">{{ day.format('dd') }}</span>
    <div class="day-in-month" ng-class="{'disabled': cal.isBeforeToday(day), 'current': cal.isCurrentDay(day), 'available': !cal.isAdmin() && cal.getTimeSlots(day).length > 0, 'reserved': !cal.isAdmin() && cal.getActivities(day).length > 0}" ng-click="cal.selectDay(day)">
      <span class="day">
        {{ day.format('D') }}
      </span>
      <small class="month">
        {{ day.format('MMM') | uppercase }}
      </small>
    </div>
  </li>
  <li class="next" layout="row" layout-align="center center">
    <md-button aria-label="Next week" class="md-icon-button md-primary" ng-click="cal.nextWeek()">
      <md-icon md-font-icon="zmdi zmdi-arrow-right"></md-icon>
    </md-button>
  </li>
</ul>
<div layout="row" layout-align="center center">
  <md-button aria-label="Today" ng-click="cal.selectDay(cal.today)">Today</md-button>
</div>
<div layout="column" layout-align="start center" layout-padding>
  <h2>{{ cal.currentDate.format('dddd, Do MMMM YYYY') }}</h2>
</div>
<md-list class="hours">
  <md-list-item ng-repeat="hour in cal.hours" ng-class="{'available': !cal.isAdmin() && cal.isAvailable(hour), 'reserved': !cal.isAdmin() && cal.isReserved(hour)}">
    <p>{{ hour }}: 00</p>
    <md-button aria-label="Release" class="md-secondary" ng-if="!cal.isToday(cal.currentDate) && cal.isAdmin() && cal.isAvailable(hour)" ng-click="cal.releaseSlot(hour)">Release</md-button>
    <md-button aria-label="Close Slot" class="md-secondary md-warn" ng-if="cal.isAdmin() && !cal.isAvailable(hour) && !cal.isReserved(hour)" ng-click="cal.closeSlot(hour, $event)">Close Slot</md-button>
    <md-button aria-label="Cancel Reservation" class="md-secondary md-warn" ng-if="cal.isAdmin() && cal.isReserved(hour)" ng-click="cal.cancelReservation(hour)">Cancel Reservation</md-button>
    <md-button aria-label="Reserve" class="md-secondary" ng-if="!cal.isAdmin() && cal.isAvailable(hour)" ng-click="cal.reserve(hour, $event)">Reserve</md-button>
    <md-button aria-label="Cancel Activity" class="md-secondary md-warn" ng-if="!cal.isAdmin() && cal.isReserved(hour)" ng-click="cal.cancelActivity(hour)">Cancel Activity</md-button>
    <md-button aria-label="View Activity" class="md-secondary md-primary" ng-if="!cal.isAdmin() && cal.isReserved(hour)" ng-click="cal.viewActivity(hour)">View Activity</md-button>
    <md-divider></md-divider>
  </md-list-item>
</md-list>
