<div class="widget md-whiteframe-2dp calendar" flex>
  <div class="widget-header" layout="row" layout-align="start center">
    <h3 class="md-subhead" flex>Chip's Availability</h3>
    <md-button aria-label="Refresh" class="md-icon-button" ng-click="">
      <md-icon md-font-icon="zmdi zmdi-refresh"></md-icon>
    </md-button>
  </div>
  <div class="widget-content">
    <div calendar></div>
  </div>
</div>
<div class="widget md-whiteframe-2dp news" flex>
  <div class="widget-header" layout="row" layout-align="start center">
    <h3 class="md-subhead" flex>News</h3>
    <md-button aria-label="Refresh" class="md-icon-button" ng-click="">
      <md-icon md-font-icon="zmdi zmdi-refresh"></md-icon>
    </md-button>
  </div>
  <div class="widget-content"></div>
</div>
