<div class="shop-logo-container padding-10 md-whiteframe-2dp" layout="column" layout-align="center center">
  <img ng-if="!$root.currentUser.logo" ng-src="assets/images/awaiting-logo.png" width="250">
  <img ng-if="$root.currentUser.logo" ng-src="/api/Containers/{{ $root.currentUser.id }}/download/{{ $root.currentUser.logo }}">
</div>
<div class="menu-items">
  <md-list flex>
    <md-list-item ng-click="menu.navigate('main.view.home')" ng-class="{ 'active': $root.state === 'main.view.home' }">
      <span class="zmdi-hc-stack">
        <i class="zmdi zmdi-square-o zmdi-hc-stack-2x"></i>
        <i class="zmdi zmdi-home zmdi-hc-stack-1x"></i>
      </span>
      <p>Home</p>
    </md-list-item>
    <md-divider></md-divider>
    <md-list-item ng-click="menu.navigate('main.view.profile')" ng-class="{ 'active': $root.state === 'main.view.profile' }">
      <span class="zmdi-hc-stack">
        <i class="zmdi zmdi-square-o zmdi-hc-stack-2x"></i>
        <i class="zmdi zmdi-store zmdi-hc-stack-1x"></i>
      </span>
      <p>My Profile</p>
    </md-list-item>
    <md-divider></md-divider>
    <md-list-item ng-click="menu.navigate('main.view.activities')" ng-class="{ 'active': $root.state === 'main.view.activities' }">
      <span class="zmdi-hc-stack">
        <i class="zmdi zmdi-square-o zmdi-hc-stack-2x"></i>
        <i class="zmdi zmdi-share zmdi-hc-stack-1x"></i>
      </span>
      <p>My Activities</p>
    </md-list-item>
    <md-divider></md-divider>
    <md-list-item ng-click="menu.navigate('main.view.products')" ng-class="{ 'active': $root.state === 'main.view.products' }">
      <span class="zmdi-hc-stack">
        <i class="zmdi zmdi-square-o zmdi-hc-stack-2x"></i>
        <i class="zmdi zmdi-local-cafe zmdi-hc-stack-1x"></i>
      </span>
      <p>My Products</p>
    </md-list-item>
    <md-divider></md-divider>
    <md-list-item ng-click="menu.navigate('main.view.surveys')" ng-class="{ 'active': $root.state === 'main.view.surveys' }">
      <span class="zmdi-hc-stack">
        <i class="zmdi zmdi-square-o zmdi-hc-stack-2x"></i>
        <i class="zmdi zmdi-comments zmdi-hc-stack-1x"></i>
      </span>
      <p>My Surveys</p>
    </md-list-item>
    <md-divider></md-divider>
  </md-list>
</div>
