<div class="widget md-whiteframe-2dp profile" flex>
  <div class="widget-header" layout="row" layout-align="start center">
    <h3 class="md-subhead" flex>My Products</h3>
    <md-button aria-label="Add Product" class="md-icon-button" ng-click="products.add()">
      <md-tooltip>Add Product</md-tooltip>
      <md-icon md-font-icon="zmdi zmdi-collection-plus"></md-icon>
    </md-button>
  </div>
  <md-content class="widget-content products" layout="row">
    <div class="product-list" flex="50" flex-xs="100" layout="column" ng-hide="products.smallScreen && products.selected">
      <div class="empty" ng-if="products.list.length == 0" layout="row" layout-align="center center">
        <span>No product found</span>
      </div>
      <div ng-if="products.list.length > 0" layout="column" flex>
        <md-list flex>
          <md-list-item ng-repeat="product in products.list" ng-class="{'selected': product.id == products.selected.id}" ng-click="products.select(product)">
            <p>{{ product.name }}</p>
            <md-divider></md-divider>
          </md-list-item>
        </md-list>
      </div>
    </div>
    <div class="product-details" flex="50" flex-xs="100" ng-hide="products.smallScreen" ng-show="!products.smallScreen || (products.smallScreen && products.selected)">
      <div class="empty" ng-if="!products.selected" layout="row" layout-align="center center">
        <span>No product selected</span>
      </div>
      <div>
        <md-card ng-if="products.selected" ng-repeat="product in products.list | filter: products.selected.id" class="product-edit md-whiteframe-1 padding-10">
          <div class="header" layout="row" layout-align="start center">
            <h3 flex class="md-subhead">Edit Product</h3>
            <md-button aria-label="Save" class="md-icon-button" ng-click="products.save()">
              <md-tooltip>Save</md-tooltip>
              <md-icon md-font-icon="fa fa-save"></md-icon>
            </md-button>
            <md-button aria-label="Close" class="md-icon-button" ng-click="products.unselect()">
              <md-tooltip>Close</md-tooltip>
              <md-icon md-font-icon="zmdi zmdi-close"></md-icon>
            </md-button>
          </div>
          <form name="productForm">
            <div layout="column">
              <md-input-container flex="100">
                <label>Product Name</label>
                <input type="text" ng-model="product.name" required>
              </md-input-container>
              <md-input-container flex="100">
                <label>Product Description</label>
                <textarea rows="2" md-select-on-focus md-maxlength="500" ng-model="product.description"></textarea>
              </md-input-container>
              <md-input-container flex="100">
                <p class="label" flex="100">Product Images</p>
                <div class="images-upload">
                  <div ngf-drop ngf-select ng-model="products.images" class="drop-box"
                       ngf-drag-over-class="'dragover'" ngf-multiple="true" ngf-allow-dir="false"
                       accept="image/*" ngf-pattern="'image/*'">
                    Drop pictures here or click to upload</div>
                  <div ngf-no-file-drop>File Drag/Drop is not supported for this browser</div>
                </div>
                <div class="images-slide" ng-if="products.selected.images && products.selected.images.length > 0">
                  <div class="image-index">{{ products.currentImageIndex + 1 }} / {{ products.selected.images.length }}</div>
                  <div class="images-container">
                    <div class="content">
                      <img ng-repeat="image in products.selected.images track by $index" ng-src="http://localhost:3000/api/Containers/{{ products.selected.id }}/download/{{ image }}" ng-if="$index == products.currentImageIndex" class="md-whiteframe-5dp">
                    </div>
                  </div>
                  <div class="toolbar" layout="row" layout-align="center center">
                    <md-button aria-label="Previous Picture" class="md-icon-button" ng-click="products.toggleImage(-1)">
                      <md-icon md-font-icon="fa fa-chevron-left"></md-icon>
                    </md-button>
                    <md-button aria-label="Delete Picture" class="md-icon-button" ng-click="products.deleteImage()">
                      <md-icon md-font-icon="fa fa-trash-o"></md-icon>
                    </md-button>
                    <md-button aria-label="Next Picture" class="md-icon-button" ng-click="products.toggleImage(1)">
                      <md-icon md-font-icon="fa fa-chevron-right"></md-icon>
                    </md-button>
                  </div>
                </div>
              </md-input-container>
            </div>
          </form>
        </md-card>
      </div>
    </div>
  </md-content>
</div>
