<div class="widget md-whiteframe-2dp" flex>
  <div class="widget-header" layout="row" layout-align="start center">
    <h3 class="md-subhead" flex>My Products</h3>
    <md-button aria-label="Add Product" class="md-icon-button" ng-click="products.add()">
      <md-tooltip>Add Product</md-tooltip>
      <md-icon md-font-icon="zmdi zmdi-collection-plus"></md-icon>
    </md-button>
  </div>
  <md-content class="widget-content full-height" layout="row">
    <div class="product-list" flex layout="column" ng-hide="products.smallScreen && products.selected">
      <div class="empty" flex ng-if="products.list.length == 0" layout="column" layout-align="center center">
        <span>No product found</span>
      </div>
      <div ng-if="products.list.length > 0" layout="column" flex>
        <md-list flex>
          <md-list-item ng-repeat="product in products.list" ng-class="{'selected': products.selected && product.id == products.selected.id}" ng-href="#products/{{ product.id }}">
            <p>{{ product.name }}</p>
            <md-divider></md-divider>
          </md-list-item>
        </md-list>
      </div>
    </div>
    <div class="animate-wrapper" flex ng-hide="products.smallScreen" ng-show="!products.smallScreen || (products.smallScreen && products.selected)" layout="column" layout-align="start center">
      <div flex ui-view layout="column" layout-align="start center" class="product-details full-width">
        <div class="empty" flex layout="column" layout-align="center center">
          <span>No product selected</span>
        </div>
      </div>
    </div>
  </md-content>
</div>
