<div class="widget md-whiteframe-2dp" flex>
  <div class="widget-header" layout="row" layout-align="start center">
    <h3 class="md-subhead" flex>My Surveys</h3>
    <md-button aria-label="Add Survey" class="md-icon-button" ng-click="surveys.add()">
      <md-tooltip>Add Survey</md-tooltip>
      <md-icon md-font-icon="zmdi zmdi-collection-plus"></md-icon>
    </md-button>
  </div>
  <md-content class="widget-content full-height" layout="row">
    <div class="survey-list" flex layout="column" ng-hide="surveys.smallScreen && surveys.selected">
      <div class="empty" flex ng-if="surveys.list.length == 0" layout="column" layout-align="center center">
        <span>No survey found</span>
      </div>
      <div ng-if="surveys.list.length > 0" layout="column" flex>
        <md-list flex>
          <md-list-item ng-repeat="survey in surveys.list" ng-class="{'selected': surveys.selected && survey.id == surveys.selected.id}" ng-href="#surveys/{{ survey.id }}">
            <p>{{ survey.name }}</p>
            <md-divider></md-divider>
          </md-list-item>
        </md-list>
      </div>
    </div>
    <div class="animate-wrapper" flex ng-hide="surveys.smallScreen" ng-show="!surveys.smallScreen || (surveys.smallScreen && surveys.selected)" layout="column" layout-align="start center">
      <div flex ui-view layout="column" layout-align="start center" class="survey-details full-width">
        <div class="empty" flex layout="column" layout-align="center center">
          <span>No survey selected</span>
        </div>
      </div>
    </div>
  </md-content>
</div>
