.activity-list {
  background-color: #fff;
  overflow-y: auto;
  position: relative;

  @media (min-width: 600px) {
    border-right: 1px solid #eeeeee;
  }

  md-list-item.selected {
    background: rgba(0, 0, 0, .1);
  }
}

.activity-details {
  overflow-y: auto;
  overflow-x: hidden;

  &.ng-enter {
    @include slideInRight();
  }

  &.ng-leave {
    @include slideOutRight();
  }

  md-content {
    &.ng-enter {
      @include slideInRight();
    }

    &.ng-leave {
      @include slideOutRight();
    }

    .header {
      border-bottom: 1px solid #eee;
      margin-bottom: 8px;

      .md-subhead {
        margin: 8px 0;
      }
    }

    .video-container {
      min-height: 300px;

      img {
        max-width: 100%;
        max-height: 100%;
        height: auto;
      }
    }
  }
}

