calendar {
  ul.week {
    display: table;
    box-sizing: border-box;
    width: 100%;
    list-style: none;
    padding: 0;
    margin: 10px 0 0;

    li {
      display: table-cell;
      text-align: center;
      vertical-align: middle;

      .md-icon-button {
        margin: 0;

        @media (max-width: 1279px) {
          padding: 0;
          width: 24px;
          height: 24px;
          min-height: 24px;

          md-icon {
            font-size: 16px !important;
          }
        }
      }

      .weekend {
        font-weight: 700;
        color: #d9534f;
      }

      &.date.ng-enter {
        transition: 1s;
        opacity: 0;
      }

      &.date.ng-enter-active {
        opacity: 1;
      }

      .day-in-month {
        width: 40px;
        height: 40px;
        margin: 8px auto;
        display: block;
        text-align: center;
        border-radius: 50%;
        cursor: pointer;

        &.available {
          color: #fff;
          background-color: rgb(76, 175, 80);
        }

        &.reserved {
          color: #fff;
          background-color: rgb(255,87,34);
        }

        &.current {
          color: #fff;
          background-color: rgb(16,108,200);;
        }

        &.disabled {
          color: #999 !important;
          background-color: #eee !important;
          cursor: not-allowed;
        }

        &:focus {
          outline: none;
        }

        .day {
          display: block;
          font-size: 20px;
          line-height: 24px;
        }

        .month {
          display: block;
          font-size: 10px;
          line-height: 10px;
        }

        @media (max-width: 1279px) {
          width: 30px;
          height: 30px;

          .day {
            font-size: 16px;
            line-height: 20px;
          }

          .month {
            font-size: 8px;
            line-height: 8px;
          }
        }

        @media (max-width: 959px) {
          width: 26px;
          height: 26px;

          .day {
            font-size: 12px;
            line-height: 14px;
          }
        }
      }
    }
  }

  h2, p {
    margin: 0;
  }

  @media (max-width: 599px) {
    h2 {
      font-size: 1em;
    }
  }

  .md-button {
    min-height: 24px;
    min-width: 0;
    line-height: 24px;
    font-size: 12px;
    margin: 3px;
  }

  md-list.hours {
    md-list-item {
      height: 36px;
      min-height: 36px;

      &.reserved {
        background-color: #ffcdd2;
      }

      &.available {
        background-color: #c8e6c9;
      }
    }
  }
}
