.sign-in-container {
  position: relative;
  max-width: 500px;
  padding: 180px 10px 10px;
  margin: 0 auto;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  width: calc(100% - 20px);

  @media (max-width: 599px) {
    padding-top: 50px;
  }

  md-input-container {
    margin: 10px 0;
  }

  md-card {
    margin: 0;
    height: 500px;
    width: 100%;

    md-toolbar {
      min-height: 140px;
    }

    md-content {
      z-index: 2;
      background-color: #fff !important;
      position: relative;
      overflow: hidden;

      form {
        position:absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;

        &.ng-enter {
          transition: 500ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
          width: 100%;
          opacity: 0;
          left: 100%;
        }

        &.ng-enter-active {
          opacity: 1;
          left: 0;
        }

        &.ng-leave {
          transition: 500ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
          width: 100%;
          opacity: 1;
          left: 0;
        }

        &.ng-leave-active {
          opacity: 0;
          left: -100%;
        }
      }
    }

    .md-button {
      margin-left: 0 !important;
      margin-right: 0 !important;
    }
  }

  img {
    animation: bounce 1s;
    width: 250px;
    position: absolute;
    right: 10px;
    top: 40px;
  }
}

