.survey-list {
  background-color: #fff;
  overflow-y: auto;
  position: relative;

  @media (min-width: 600px) {
    border-right: 1px solid #eeeeee;
  }

  md-list-item.selected {
    background: rgba(0, 0, 0, .1);
  }
}

.survey-details {
  overflow-y: auto;
  overflow-x: hidden;

  &.ng-enter {
    @include slideInRight();
  }

  &.ng-leave {
    @include slideOutRight();
  }

  md-content {
    &.ng-enter {
      @include slideInRight();
    }

    &.ng-leave {
      @include slideOutRight();
    }

    .header {
      border-bottom: 1px solid #eee;
      margin-bottom: 8px;

      .md-subhead {
        margin: 8px 0;
      }
    }

    .survey-content {
      min-height: 300px;
      width: 100%;

      .survey-item {
        border: 1px solid #ddd;
        border-radius: 10px;

        .toolbar {
          border-top: 1px solid #ddd;
        }
      }

      .angular-ui-tree-placeholder {
        background: #f0f9ff;
        border: 2px dashed #bed2db;
        box-sizing: border-box;
      }
    }
  }
}

@media (min-width: 600px) {
  .add-survey-item {
    min-width: 500px;
    .error {
      font-size: 12px;
      line-height: 14px;
      padding: 5px 5px 0 0;
      color: #dd2c00;
    }
  }
}

.angular-ui-tree-drag .survey-item {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;

  .toolbar {
    border-top: 1px solid #ddd;
  }
}
